@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



.home {
  height: 100vh;
  background: linear-gradient(100deg, #605bff 45%, #f8faff 45%);
}

@media only screen and (max-width: 600px) {
  .home {
    background: #f8faff;
  }
}

body::-webkit-scrollbar {
  display: none;
}
